{% trans_default_domain 'FOSUserBundle' %}

<header id="home" class="section pb-0 ">

    <div class="header-text section text-white text-center pb-3 pt-0">

    </div>

</header>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <span class="login100-form-title login100-form-title-request-email p-t-70 p-b-60">
                  Profil
      </span>
    </div>

  </div>

  <div class="text-center">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
  </div>

  <div class="row justify-content-center p-t-60 ">
    <div class="col-sm-3 col-xs-8 text-center m-b-20">
      <a href="{{path('fos_user_profile_edit')}}" class="btn btn-primary btn-lg">Modifier le profil</a>
    </div>
    <div class="col-sm-3 col-xs-8 text-center">
      <a href="{{path('fos_user_change_password')}}" class="btn btn-primary btn-lg">Modifier le mot de passe</a>
    </div>
  </div>
</div>
