{% trans_default_domain 'FOSUserBundle' %}

<header id="home" class="section pb-0 ">

    <div class="header-text section text-white text-center pb-3 pt-0">

    </div>

</header>


<span class="login100-form-title p-t-40 p-b-10">
            Inscription
</span>

<span class="login100-form-avatar">
  <img src="{{asset('bundles/app/login/images/avatar4.png')}}" alt="AVATAR">
</span>

<div class="container-fluid">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_errors(form) }}
                  <div class="row justify-content-center">
                    <div class="col-sm-4">
                      {{ form_row(form.firstName, {'label': 'Prénom'}) }}
                    </div>
                    <div class="col-sm-4">
                      {{ form_row(form.surname, {'label': 'Nom'}) }}
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-sm-4">
                    {{ form_row(form.username, {'attr': {'placeholder': 'Exemple :  John91'}}) }}
                    </div>
                    <div class="col-sm-4">
                    {{ form_row(form.email, {'attr': {'placeholder': 'Exemple :  john.temgoua@puissants.edu'}}) }}
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-sm-8 ">
                    {{ form_row(form.telephone,  {'attr': {'placeholder': 'Exemple :   676930524'}}) }}
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-sm-4">
                      {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="col-sm-4">
                    {{ form_row(form.plainPassword.second) }}
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="container-login100-form-btn col-sm-4">
                        <input class="login100-form-btn" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                  </div>


    {{ form_end(form) }}

          <div class="row justify-content-center m-b-60">
              <div class="col-sm-4">
                <ul class="login-more p-t-40">

                  <li>
                    <span class="txt1">
                      Déjà membre ?
                    </span>

                    <a href="{{ path('fos_user_security_login') }}" class="txt2">
                      Je me connecte
                    </a>
                  </li>
                </ul>
              </div>

          </div>
</div>
