{# src/GP/PlatformBundle/Resources/views/Course/form.html.twig #}

<div class="container-fluid">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {# Génération du label + error + widget pour un champ. #}
  <div class="row">
   <div class="form-group col-sm-6">
     {{ form_label(form.courseName, "Nom du cours", {'label_attr': {'class': 'control-label'}}) }}
     {{ form_errors(form.courseName) }}
     {{ form_widget(form.courseName, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group col-sm-6">
      {{ form_label(form.price, "Prix", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.price) }}
      {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

    <div class="form-group col-sm-12">
      {{ form_label(form.courseDescription, "Description du cours (500 caractères maximum)", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.courseDescription) }}
      {{ form_widget(form.courseDescription, {'attr': {'class': 'form-control'}}) }}
    </div>


  {# bouton de soumission #}
  <div class="row">
    <div class="col-xl-12">
      <div class="form-group">
        <div class="col-md-12">
       <input type="submit" value="Publier le cours" class="btn btn-primary" />
        </div>
      </div>
    </div>
  </div>

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
